# Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [5]:
import pandas as pd

In [6]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

In [7]:
top5_0_movies_id = ratings.query('rating == 5').movieId.value_counts().index[0]
print('Наибольшее количество оценок 5.0 у фильма:')
movies[movies.movieId == top5_0_movies_id]

Наибольшее количество оценок 5.0 у фильма:

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

# Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [11]:
data_power = pd.read_csv('power.csv')

baltia = data_power[(data_power['country']=='Lithuania') | (data_power['country']=='Latvia') | (data_power['country']=='Estonia')]
baltia_filter = baltia[ (baltia['category'] == 4) | (baltia['category'] == 12) | (baltia['category'] == 21) ]

baltia_filter_by_years = baltia_filter[(baltia_filter.year > 2010 ) | (baltia_filter.year < 2005 )]
balt_cons = sum(baltia_filter_by_years [baltia_filter_by_years.quantity > 0]['quantity'])
print('Потребление энергии странами Прибалтики составило', balt_cons)

Потребление энергии странами Прибалтики составило 730148.0

# Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):

https://fortrader.org/quotes

https://www.finanz.ru/valyuty/v-realnom-vremeni

In [9]:
quotes_data = pd.read_html('https://www.finam.ru/quotes/')[0]
quotes_data.head()

,Unnamed: 0,Инструмент,Посл. сделка,% Изм. цены,Открытие,Макс.,Мин.,Закрытие,"Объем, шт.",Время обн.
0,NaN,Apple Inc.USA(BATS)Потенциал:-3%,288.7500 $,-1.42%,282.00,290.82,281.270,292.92,6 385 395,06.03 23:59
1,NaN,BTC-USD,9121.15 $,NaN,NaN,NaN,NaN,9118.83,NaN,07.03 15:49
2,NaN,Bank of AmericaUSA(BATS),25.7200 $,-3.96%,25.41,26.20,25.105,26.78,9 623 676,06.03 23:59
3,NaN,Brent,45.50,-8.98%,50.25,50.45,45.180,49.99,NaN,07.03 01:59
4,NaN,ETH-USD,245.12 $,NaN,NaN,NaN,NaN,239.30,NaN,07.03 15:49